<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Investment percentages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5 pt-5 cont">
        <div class="row">
          <div class="col-12">
            <h3><u><center>Recommended investment percentages for different income slabs</center></u></h3><br><br>
    <table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Salary</th>
      <th scope="col">Investment Percentage</th>
      <th scope="col">Investment Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>0-2,00,000</td>
      <td>10%</td>
      <td>0-20,000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2,00,000-5,00,000</td>
      <td>15%</td>
      <td>30,000-75,000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>5,00,000-10,00,000</td>
      <td>20%</td>
      <td>1,00,000-2,00,000</td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>10,00,000-20,00,000</td>
        <td>30%</td>
        <td>3,00,000-6,00,000</td>
      </tr>
      <tr>
          <th scope="row">5</th>
          <td>20,00,000-40,00,000</td>
          <td>40%</td>
          <td>8,00,000-16,00,000</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>40,00,000-1,00,00,000</td>
            <td>50%</td>
            <td>20,00,000-50,00,000</td>
          </tr>
          <tr>
              <th scope="row">7</th>
              <td>1,00,00,000+</td>
              <td>60%</td>
              <td>60,00,000+</td>
            </tr>
  </tbody>
</table>
</div>
</div>
</div>
</body>
</html>